name: build

on:
  push:
    branches: [ main, develop]
  pull_request:
    branches: [ main, develop]

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        arch: [ x86 ]
        os: [ ubuntu-latest ]
        python-version: [ "3.8", "3.9", "3.10" ]
    name: build - Python ${{ matrix.python-version }} (${{ matrix.arch }} ${{ matrix.os }})
    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up Python environment
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install build dependencies
        run: |
          python -m pip install --upgrade pip setuptools wheel poetry pre-commit

      - name: Setup cached pre-commit
        id: cache-pre-commit
        uses: actions/cache@v2
        with:
          path: ~/.cache/pre-commit
          key: ${{ runner.os }}-${{ matrix.python-version }}-pre-commit-${{ hashFiles('.github/workflows/*.yml', '.pre-commit-config.yaml') }}
          restore-keys: |
            ${{ runner.os }}-${{ matrix.python-version }}-pre-commit-

      - name: Run pre-commit
        run: pre-commit run --all-files

      - name: pip install
        run: pip install -e .

      - name: Run tests
        run: pytest
